*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;  
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color:#252b42;
    font-weight: 500;
    font-family: Montserrat;
    background: #fafafa;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1046px;
    margin: 0 auto;
    /* выравнивание по середине адаптация при ужатии */
}
.ibg{
    position: relative;
}
.ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.header {
    position: absolute;
    width: 100%;
    left:0;
    top:0;  
    z-index: 50;
}
.container {
    display: flex;
    
    min-height: 104px;
    align-items: center;
}
@media (max-width: 479px){
    .container{
        min-height: 70px;
    }
}
.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}
.menu {
    margin: 0 0 0 133px;
}
@media (max-width: 992px){
    .menu{
      margin: 0 0 0 80px;  
    }
   
}
@media (max-width: 768px){
    .menu{
      margin: 0 0 0 40px;  
    }
   
}
@media (max-width: 479px){
    .menu{
      margin: 0 0 0 20px;  
    }
   
}
.menu-list {
    display: flex;
    flex-wrap: wrap;
}
.menu-item {
    margin: 0 0 0 0;
}
.menu-item:not(:last-child){
    margin: 0 21px 0 0;
}
.menu-link {
    color: #737373;
    /* переводим 24px в процент */
    /* calc(24/14*100%); */
    line-height: 171%;
    font-weight: 600;
}
@media (max-width: 479px){
    .menu-link{
      font-size: 18px;  
    }
   
}
/* -----------HEADER BLOCK-------------------------------------- */
.header-block {
    text-align: center;

letter-spacing: 0.2px;
font-weight: 700;
}
.advantages-title {
        font-size: 40px;
    line-height: calc(20/14*100%);
}
.advantages-title:not(:last-child){
    margin: 0 0 10px 0;
}
.advantages-subtitle {
    line-height: calc(20/14*100%);
    color: #737373;
}
@media (max-width: 992px){
    .advantages-title {
        font-size: 33px;

    }
}
@media (max-width: 767px){
    .advantages-title {
        font-size: 30px;
        
    }
}
/* ----main--------------------------------------------------------- */
.page{
    flex: 1 1 auto;
    /* отделяет футер */
}

.main-block {
    position: relative;
}

.main-block-body {
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 2;
    min-width: 400px;
}
@media (max-width: 992px){
    .main-block-body{
padding: 115px 0 160px 0;
    }
}
@media (max-width: 479px){
    .main-block-body{
padding: 120px 0 191px 0;
    }
}
.main-block-body > *:not(:last-child){
margin: 0 0 35px 0;
}
.title {
    font-size: 58px;
    line-height: calc(80/58*100%);
    letter-spacing: 0.2px;
    font-weight: 800;
}
@media (max-width: 479px){
    .title{
font-size: 42px;
    }
}
.text {
    color: #737373;
    font-size: 20px;
    line-height: 150%;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
}
.button {
    
    border-radius: 37px;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2px;
    
    font-weight: 700;
    line-height: 150%;
    padding: 0 36px;
    margin: 10px 0;
}
@media (max-width: 479px){
    .button{
        flex: 1 1 100%;
    }
}
@media (max-width: 479px){
    .button:not(:last-child){
        margin-right: 10px;
    }
}
.button:not(:last-child){
    margin-right: 10px;
}
.button:not(:last-child){
    margin: 0 10px 0 0;
}
.button-orange{
    background: #ff7b47;
    color: #fff;
}
.button-border {
    color: #0d5c63;
    border: 1px solid #0d5c63;
}
.image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
@media (max-width: 1300px){
    .image img{
        object-position: right;
        /* будет смещение только слева,  а справа будет фиксировано */
    }
}
@media (max-width: 992px){
    .image img{
        opacity: 0.5;
        /* img делаем прозрачным для читабельности */
    }
}
/* ------------------------------------------- */
.services {
    margin: -111px 0 0 0;
    position: relative;
    z-index: 2;
}

@media (min-width: 670px){
    .services-body{
        display: flex;
        flex-wrap: wrap;
    margin: 0 -15px;
    }
    }

.services-column {
    flex: 0 1 33.333%;
    margin: 0 0 30px 0;
}

@media (min-width: 670px){
    .services-column{
        padding: 0 15px;
    }

}
@media (max-width: 992px){
.services-column{
    flex: 0 1 50%;
}
.services-column:not(:last-child){
    margin: 0 0 30px 0;
}
.services-column:last-child{
    flex: 1 1 100%
}
}

.item-service {
    height: 100%;
    /* ровность карточек по высоте */
    box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
    background: #fff;
    padding: 35px;
}
@media (max-width: 479px){
    .item-service{
        padding: 25px;
    }
}

.item-service > *:not(:last-child){
margin: 0 0 10px 0;
}
.service-green {
    background: #0d5c63;
}
.service-green .service-title{
    color: #fff;
}
.service-green .service-text{
    color: #fff;
}
.service-title {
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 24px;
    line-height: 133%;
}
.service-text {
    color: #737373;
    line-height: calc(20/14*100%);
}
/* ----section----advantages----------------------------------------------------- */
.advantages .container{
    flex-direction: column;
}
.advantages{
    padding: 80px 0;
}
@media (max-width: 1020px){
    .advantages{
        padding: 50px 0;
    }
}
@media (max-width: 767px){
    .advantages{
        padding: 30px 0;
    }
}
.advantages-block {
margin: 0 0 50px 0;
}
.advantages-body {
    display: flex;
    margin: 0 -15px -30px;
}
.advantages-column {
    padding: 0 15px;
    flex: 0 1 25%;
    margin: 0 0 30px 0;
}
@media (max-width: 1020px) {
    .advantages-column{
        
        flex: 0 1 50%;
    } 
}
@media (max-width: 560px) {
    .advantages-column{
        
        flex: 0 1 100%;
    } 
}
.advantages-icon{
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.advantages-item {
    background: #fff;
    padding: 30px 40px;
    text-align: center;
font-weight: 700;
}
.advantages-item:*:not(:last-child) {
    margin: 0 0 10px 0;
}
.advantages-value {
    
    font-size: 40px;
    line-height: 142%;
}
.advantages-text {
    letter-spacing: 0.1px;
    color: #737373;
    font-size: 16px;
    line-height: 150%;
}
/* ------secton practice-------------------------------------------------------- */
.page__practice {
}
.practice {
}
.practice__container {
    margin: 0 0 45px 0;
}
.container {
}
.practice__header {
}
.header-block {
}
.header-block__title {
}
.header-block__subtitle {
}
.practice__body {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}
.practice__column {
    padding: 0 15px;
    flex: 0 1 25%;
}
.practice__item {
    background-color: #fff;
}
.item-practice {
}
.item-practice__content{
    padding: 30px;
}
.item-practice__link {
    color: inherit;
    display: inline-block;
}
.item-practice__link:hover{
    text-decoration: underline;
}
.item-practice__link:not(:last-child){
    margin: 0 0 15px 0;
}
.item-practice__title {
    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
}
.item-practice__text {
    color: #737373;
    line-height: 142%;
}
.item-practice__image {
    display: block;
    padding: 0 0 69% 0;
    /* 138/200*100        height/weight*100%    */
}
.ibg {
}
/* ----footer------------------------------------------------------ */